# Following libraries are needed for the proyect 
pytest==8.1.1
pytest-cov==5.0.0
Flask==3.0.2
Flask-Testing==0.8.1
Flask-Cors==4.0.0
huggingface_hub==0.21.4
langchain==0.1.13
pypdf==1.27.0
python-dotenv==1.0.1
openai==1.14.2
Werkzeug==3.0.1
langchain_openai==0.1.1 
regex==2023.12.25 
tiktoken==0.6.0
beautifulsoup4==4.9.3 
nltk == 3.6.2
graphviz==0.17
datetime==4.3
bitsandbytes==0.43.0
einops==0.7.0
safetensors==0.4.2
torch==2.2.2
xformers==0.0.25
datasets==2.18.0
llama_index==0.10.27
llama-index-embeddings-huggingface==0.2.0
llama-index-llms-llama-cpp==0.1.3
sentence-transformers==2.6.1

git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git


"""
pip install -r requirements.txt

"""