/* HomePage.css */
.homepage-container {
    height: 95vh;
    background-image: url('ie.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 3.5em;
    margin-top: 230px;
    margin-bottom: 18px;
    align-content: center;
    color: white;
    font-family: "Andale Mono";
}
.h2{
    font-size: 3.5em;
    margin-top: 2px;
    align-content: center;
    color: white;
    font-family: "Andale Mono";
}

.start-chat-button {
    padding: 3px 15px;
    font-size: 1.2em;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    font-family: "Andale Mono";
}

.links {
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-family: "Andale Mono";
}





